body,
html {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Source Sans 3", sans-serif;
}

.top-section-wrapper {
    background-color: #001D37;
    padding-left: 16px;
    padding-right: 16px;
    overflow: hidden;
}

.actual-top-content {
    z-index: 2;
    position: relative;
}

.top-section {
    color: white;
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1066px;
    margin: 0 auto;
    position: relative;
}

.top-section h1 {
    max-width: 525px;
    font-size: 4rem;
    margin: 0;
    line-height: 97.3%;
}

@media screen and (min-width: 600px) {
    .top-section h1 {
        max-width: 525px;
        font-size: 6.25rem;
        margin: 0;
        line-height: 97.3%;
    }

    .top-section {
        padding-top: 139px;
        padding-bottom: 139px;
    }

    .intro-buttons {
        margin-bottom: 129px;
    }
}

.intro-text {
    max-width: 435px;
    font-size: 1.25rem;
    line-height: 169.3%;
    margin: 1rem 0;
}

.intro-buttons {
    margin-bottom: 70px;
}

.our-btn {
    display: inline-block;
    font-size: 1.125rem;
    font-weight: 600;
    background-color: #475AFF;
    color: #FFF;
    text-decoration: none;
    padding: 13px 25px;
    border-radius: 1000px;
    border: 2px solid #475AFF;
}

.our-btn--outline {
    background-color: transparent;
    border: 2px solid #FFF;
}

.utility-mr {
    margin-right: 10px;
}

.intro-features {
    display: grid;
    column-gap: 16px;
    row-gap: 16px;
}

@media screen and (min-width: 580px) {
    .intro-features {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 900px) {
    .intro-features {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.intro-feature {
    padding: 33px 25px;
    border: 1px solid rgba(255, 255, 255, 0.24);
}

.intro-feature p {
    font-size: 1.0625rem;
    margin: 0;
}

.intro-feature h2 {
    font-size: 1.5rem;
    margin: 31px 0 3px 0;
}

.circle {
    width: 617px;
    height: 617px;
    background: #D660FF;
    border-radius: 50%;
    opacity: 0.85;
    filter: blur(150px);
    position: absolute;
    top: 62px;
    right: -390px;
}

.circle-2 {
    width: 617px;
    height: 617px;
    background: #6079FF;
    border-radius: 50%;
    opacity: 0.85;
    filter: blur(150px);
    position: absolute;
    top: -365px;
    left: -123px;
}

.page-section {
    background-color: #FFF;
    padding: 130px 16px;
}

.page-section-inner {
    max-width: 1066px;
    margin: auto;
}

.page-section-title {
    font-size: 5.31rem;
    margin: 0;
    line-height: 1;
}

.pet-filter {
    color: #9F9F9F;
    font-size: 1.375rem;
}

.pet-filter button {
    font-family: "Source Sans 3", sans-serif;
    font-size: 1.375rem;
    background-color: transparent;
    border: none;
    color: #9F9F9F;
}

.list-of-pets {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 34px;
    row-gap: 28px;
}

.pet-card {
    overflow: hidden;
    display: grid;
    grid-template-columns: 165px 1fr;
    border-radius: 20px;
    border: 1px solid #f3f3f3;
    background: #FFF;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.08);
}

.pet-card-photo {
    order: 1;
    grid-row: 1;
}

.pet-card-photo img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.pet-card-text {
    padding: 21px 29px;
}

.pet-card-text h3 {
    margin: 0 0 5px 0;
    font-size: 1.625rem;
    font-weight: 600;
}

.pet-description {
    color: #626262;
    line-height: 150%;
    margin: 0 0 1rem 0;
}

.pet-age {
    color: #A2A2A2;
    font-size: 0.85rem;
    margin: 0;
}

.site-footer p {
    font-size: 0.875rem;
    text-align: center;
    color: #A6A6A6;
    margin: 0;
    padding: 0 0 65px 0;
}